body{
    background-color: rgb(90, 86, 86);
    font-family: 'Saira Condensed';
}

.row{
    margin-top: 7%;
}

.button-container {
    display: flex; 
}

.btn-group input[type="radio"] {
    display: none; /* Oculta os botões de rádio padrão */
}

/* Remover estilos de hover */
.btn-group label.btn:hover,
.btn-group label.btn:focus {
    background-color: #272721;
    color: #fff; 
    border-bottom: #fff;
    padding-bottom: 10px;
}

/* Estilos gerais para os botões */
.btn-group label.btn {
    padding: 10px 20px; /* Adiciona preenchimento interno aos botões */
    cursor: pointer; /* Altera o cursor do mouse */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
    width: 120px; /* Define uma largura fixa para os botões */
    text-align: center; /* Centraliza o texto dentro dos botões */
}

/* Estilos específicos para o botão "Colaborador" */
.colaborador-btn {
    background-color: #272721; /* Cor de fundo padrão para o botão "Colaborador" */
    color: #fff; /* Cor do texto para o botão "Colaborador" */
    border-right: 2px solid #ffffff; /* Adiciona uma borda sólida à direita */
}
  
input[type="radio"].btn-check:checked + .colaborador-btn {
    background-color: #0b0b0b; /* Altera a cor de fundo do botão "Colaborador" selecionado */
}
  
  /* Estilos específicos para o botão "Empresa" */
.empresa-btn {
    background-color: #272721; /* Cor de fundo padrão para o botão "Empresa" */
    color: #fff; /* Cor do texto para o botão "Empresa" */
}
  
input[type="radio"].btn-check:checked + .empresa-btn {
    background-color: #000000; /* Altera a cor de fundo do botão "Empresa" selecionado */
}


.person-icon{
    font-size: 50px;
    position: relative;
    left: 95px;
    padding: 0;
    margin: 0;
    color: white;
}

.btn-login{
    background-color: #7742E8;
    border-color: rgb(0, 0, 0);
    color: white;
}

.btn-login:hover{
    background-color: #4f26a7;
    border-color: rgb(0, 0, 0);
    color: white;
}
