body {
    background-color: black;
    color: white; 
    height: 100vh; 
    overflow-y: scroll;
    position: relative; 
    display: grid; 
    grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
    grid-gap: 1rem; 
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 100vh auto;
}

#content {
    padding-top: 150px; 
}

/* NAVBAR */
  
#navbar {
    background-color: #050505;
}
  
#navbar a {
    color: #ffffff;
}
  
#navbar a:hover {
    color: #7a7a7a;
}
  
#navbar .active {
    border-bottom: 1px solid #fffdfd;
}
      
#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    
}
  
#navbar-items .nav-item {
    margin: 0 1em;
}

.navbar-toggler {
    color: #ffffff; /* Cor do texto branco */
}
/* Corpo e Logo  */

.brand img {
    margin-top: 80px;
    width: 400px;
    display: flex;
    align-items: center;
    z-index: 1200;
}

.first-infos {
    font-family: 'Saira Condensed';
    font-size: 40px;
    font-weight: 500;
    margin-left: 100%;
    margin-top: 0%;
}
  
.first-infos p { 
    text-align: right;
    

}

.first-infos .first-word {
    color: #25DF7C; 
    
}

.first-infos .second-word{
    color: #7742E8
}

.blue-square {
    width: 93%; 
    height: 60%; 
    background-color: #82A8EF; 
    margin-left: 95%; 
    border-radius: 10px 0px 0px 10px;
    margin-top: -90%;
}

.PC {
    width: 160% ;
    height: auto;
    margin-left: -32%;
    margin-top: -75%;
}

/* Estilo para a seção "Sobre Nós" */
.about-us {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 80px 20px; /* Preenchimento superior e inferior */
    border-radius: 10px; /* Arredondamento das bordas */
    margin: 20px; /* Margem externa */
}

.about-us h2 {
    font-family: 'Saira Condensed', sans-serif; /* Fonte do título */
    font-size: 36px; /* Tamanho do título */
    text-align: center; /* Centralizar o texto */
    margin-bottom: 40px; /* Espaçamento inferior */
}

.about-us p {
    font-size: 20px; /* Tamanho do texto */
    line-height: 1.6; /* Altura da linha */
    text-align: center; /* Centralizar o texto */
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column; /* Alterado para uma disposição em coluna em dispositivos pequenos */
    align-items: center; /* Centraliza os itens horizontalmente */
    background-color: #AE2323C7;
    color: white;
    padding: 20px;
    grid-area: footer;
}

footer p {
    margin: 5% 0;
    text-align: center; 
    grid-area: footer;
}

.logoPuc {
    margin-top: 11%;
    margin-left: 10%;
    width: 55%;
    height: 45%;
    grid-area: footer;
    
}

.texto_informacoes {
    grid-area: footer;
    margin-right: 25%;
    margin-top: 4%;
}

.mapa-hotmilk {
    /* margin-top: 20px;  Adiciona espaçamento superior */
    text-align: center; /* Centraliza o conteúdo */
    grid-area: footer;
}

@media (min-width: 768px) {
    /* Quando a largura da tela for maior ou igual a 768px */
    footer {
        flex-direction: row; /* Alterado para uma disposição em linha em dispositivos maiores */
        justify-content: space-between; /* Distribui os itens igualmente na horizontal */
        align-items: center; /* Centraliza os itens verticalmente */
    }
    

    .texto_informacoes, .mapa-hotmilk {
        flex: 1; /* Os elementos ocuparão todo o espaço disponível */
    }
}

