body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #050505;
}

#content {
    padding-top: 100px; 
}
/* NAVBAR */
  
#navbar {
    background-color: #050505;
}
  
#navbar a {
    color: #ffffff;
}
  
#navbar a:hover {
    color: #7a7a7a;
}
  
#navbar .active {
    border-bottom: 1px solid #fffdfd;
}
      
#navbar-items .navbar-nav {
    display: flex;
    justify-content: end;
    width: 100%;
}
  
#navbar-items .nav-item {
    margin: 0 1em;
}

.navbar-toggler {
    color: #ffffff; /* Cor do texto branco */
}

.cadastro-login {
    background-color: #7742E8;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
}

.cadastro-login :hover{
    background-color: black;
}

/* Corpo e Logo  */

.brand-img {
    width: 30%;
    height: auto;
    margin-top: 50%;
}

/* Estilo para a seção "Sobre Nós" */
.about-us {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Preenchimento superior e inferior */
    border-radius: 10px; /* Arredondamento das bordas */
    margin: 20px; /* Margem externa */
}

.about-us h2 {
    font-family: 'Saira Condensed', sans-serif; /* Fonte do título */
    font-size: 36px; /* Tamanho do título */
    text-align: center; /* Centralizar o texto */
    margin-bottom: 40px; /* Espaçamento inferior */
}

.about-us p {
    font-size: 20px; /* Tamanho do texto */
    line-height: 1.6; /* Altura da linha */
    text-align: left; /* Centralizar o texto */
    max-width: 50%; /* Define o valor máximo desejado para a largura do parágrafo */
    word-wrap: break-word; /* Quebra as palavras que não cabem na largura especificada */
}

.campus-img{
    float: right; /* Faz com que a imagem flutue para a direita */
    margin-top: -50px;
    margin-right: 100px;
    border-radius: 7px;
}    


/* FOOTER */
footer {
    background-color: #940b0b;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-top: auto;
}

.footer .row > div {
    text-align: center;
    padding: 10px; /* Adicione o espaçamento que desejar */
}

.logoPuc {
    width: 40%;
    height: auto;
}

.texto_informacoes h5 {
    margin-bottom: 10px;
    font-size: large;
    font-family: sans-serif;
}

.mapa-hotmilk {
    margin-top: 20px;
}

@media (min-width: 768px) {
    footer .row {
        display: flex;
        justify-content: space-between;
    }

    .texto_informacoes {
        flex-grow: 1;
        margin-left: 20px; /* Adicionando margem entre os itens */
    }

    .mapa-hotmilk iframe {
        height: 150px;
        width: 70%;
    }
}

/* Estilos para a versão mobile (o padrão será empilhado verticalmente) */
@media (max-width: 767px) {
    footer .row {
        flex-direction: column;
    }
    .texto_informacoes {
        margin-top: 20px; /* Adicionando margem superior entre os itens */
    }
    .mapa-hotmilk iframe {
        height: 150px;
    }

    .logoPuc{
        max-width: 30%;
    }
}   


