body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}


/* NAVBAR */
#navbar {
    background-color: none;
}
  
#navbar a {
    color: #ffffff;
}
  
#navbar a:hover {
    color: #7a7a7a;
}
  
#navbar .active {
    border-bottom: 1px solid #fffdfd;
}
      
#navbar-items .navbar-nav {
    display: flex;
    justify-content: end;
    width: 100%;
}
  
#navbar-items .nav-item {
    margin: 0 1em;
}

.navbar-toggler {
    color: #ffffff; 
}

.btn-primary {
    background-color: #7742E8;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
}

.btn-primary:hover {
    background-color: #7742E8; 
}

.btn-primary:active {
    background-color: #7742E8;
    border: none;
}

/* Corpo e Logo  */
.showroom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 25%;
    height: auto;
    margin-top: 50px;
}

.pc-img{
    width: 60%;
    height: auto;
}

.wellcome-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
}

.wellcome-body p{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 36px;
    padding-bottom: 20%;
    color: #ffffff;
}

.cor-verde {
    color: #25DF7C; 
}

.cor-roxa{
    color: #7742E8;
}

/* Estilo para a seção "Sobre Nós" */

.about-us {
    color: #fff; 
    padding: 10px 20px; 
    margin: 20px; 
}

.about-us .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us h2{
    font-family: 'Saira Condensed', sans-serif; 
    font-size: 36px; 
    text-align: center; 
    margin-bottom: 40px; 
}

.about-us p{
    font-family: 'Saira Condensed', sans-serif; 
    font-size: 20px;
    text-align: justify;
    padding-right: 30%;
}

.campus-img{
    float: right; 
    border-radius: 7px;
}    


/* FOOTER */
footer {
    background-color: #940b0b;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-top: auto;
}

.footer .row > div {
    text-align: center;
    padding: 10px; 
}

.logoPuc {
    width: 40%;
    height: auto;
}

.texto_informacoes h5 {
    margin-bottom: 10px;
    font-size: large;
    font-family: sans-serif;
}

.mapa-hotmilk {
    margin-top: 20px;
}

@media (min-width: 768px) {
    footer .row {
        display: flex;
        justify-content: space-between;
    }

    .texto_informacoes {
        flex-grow: 1;
        margin-left: 20px; 
    }

    .mapa-hotmilk iframe {
        height: 150px;
        width: 70%;
    }
}

/* Estilos para a versão mobile (o padrão será empilhado verticalmente) */
@media (max-width: 767px) {
    footer .row {
        flex-direction: column;
    }
    .texto_informacoes {
        margin-top: 20px; 
    }
    .mapa-hotmilk iframe {
        height: 150px;
    }

    .logoPuc{
        max-width: 30%;
    }

    .about-us .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .campus-img{
        width: 100%;
    }
    
    .about-us p{
        text-align: justify;
    }
}   

.btn-login {
    background-color: #7742E8;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 50px;
}
