body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

#content {
    padding-top: 100px; 
}


/* NAVBAR */
#navbar {
    background-color: #050505;
}
  
#navbar a {
    color: #ffffff;
}
  
#navbar a:hover {
    color: #7a7a7a;
}
  
#navbar .active {
    border-bottom: 1px solid #fffdfd;
}
      
#navbar-items .navbar-nav {
    display: flex;
    justify-content: end;
    width: 100%;
}
  
#navbar-items .nav-item {
    margin: 0 1em;
}

.navbar-toggler {
    color: #ffffff; 
}

.btn-primary {
    background-color: #7742E8;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
}

.btn-primary:hover {
    background-color: #7742E8; 
}

.btn-primary:active {
    background-color: #7742E8;
    border: none;
}

/* Corpo e Logo  */

.brand-img {
    width: 30%;
    height: auto;
    margin-top: 50%;
}

/* Estilo para a seção "Sobre Nós" */
.about-us {
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 10px; 
    margin: 20px; 
}

.about-us h2 {
    font-family: 'Saira Condensed', sans-serif; 
    font-size: 36px; 
    text-align: center; 
    margin-bottom: 40px; 
}

.about-us p {
    font-size: 20px; 
    line-height: 1.6; 
    text-align: left;
    max-width: 50%; 
    word-wrap: break-word;
}

.campus-img{
    float: right; 
    margin-top: -50px;
    margin-right: 100px;
    border-radius: 7px;
}    


/* FOOTER */
footer {
    background-color: #940b0b;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-top: auto;
}

.footer .row > div {
    text-align: center;
    padding: 10px; 
}

.logoPuc {
    width: 40%;
    height: auto;
}

.texto_informacoes h5 {
    margin-bottom: 10px;
    font-size: large;
    font-family: sans-serif;
}

.mapa-hotmilk {
    margin-top: 20px;
}

@media (min-width: 768px) {
    footer .row {
        display: flex;
        justify-content: space-between;
    }

    .texto_informacoes {
        flex-grow: 1;
        margin-left: 20px; 
    }

    .mapa-hotmilk iframe {
        height: 150px;
        width: 70%;
    }
}

/* Estilos para a versão mobile (o padrão será empilhado verticalmente) */
@media (max-width: 767px) {
    footer .row {
        flex-direction: column;
    }
    .texto_informacoes {
        margin-top: 20px; 
    }
    .mapa-hotmilk iframe {
        height: 150px;
    }

    .logoPuc{
        max-width: 30%;
    }
}   

.btn-login {
    background-color: #7742E8;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 50px;
}
